
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    font-family: Arial, sans-serif;
    color: white;
    display: grid;
    place-items: center;
}


.card {
    width: 400px;
    max-width: 95%;
    background: #222;
    color: #fff;
    padding: 40px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

#prediction {
    font-size: 18px;
    min-height: 60px;
    margin-bottom: 25px;
}

button {
    background: purple;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    background: #b300b3;
    transform: scale(1.05);
}
